//
// Constants
//

$article-width: 55rem;
$aside-width: 20rem;

:root {
    --card-bg: #fdfdff;

    --border-color: #bbc;
    --border: 3px solid var(--border-color);
    --card-shadow: 0 0 32px 0 #00000008, 0 0 128px 0 #00000008;

    --font-display: 'Source Sans Pro', sans-serif;
}

//
// Responsive Breakpoints
//

// <--- Mobile ---|------ Tablet ------|---- Desktop ---->
//                ^                    ^
//                $device-small        $device-large

$device-large: $article-width + $aside-width + 1rem;
$device-small: $article-width + 4rem;

//
// Mixins
//

@mixin media-screen-desktop {
    @media screen and (min-width: #{$device-large}) {
        @content;
    }
}

@mixin media-screen-tablet {
    @media screen and (min-width: #{$device-small}) and (max-width: #{$device-large}) {
        @content;
    }
}

@mixin media-screen-mobile {
    @media screen and (max-width: #{$device-small}) {
        @content;
    }
}

//
// CSS Reset
//

*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}

//
// Components
//

.content {
    width: 100%;
    max-width: 80ch;

    font-size: 18px;

    h1 {
        font-size: 3.5rem;
    }
}

.card {
    padding: 1rem;

    // border-radius: 4px;
    // box-shadow: 0 0 6px 0 #00000040, 0 0 32px 0 #00000018;

    border-radius: 2px;
    border: var(--border);
    box-shadow: var(--card-shadow);
    background: var(--card-bg);

    &.content {
        padding: 3rem;
        max-width: 90ch;
    }
}

//
// Typography
//

body,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #222;

    height: 100%;
}

// Headings

$base-font-size: 18px;
$base-font-size-mobile: 16px;
$heading-scale: 1.33;
$heading-scale-mobile: 1.25;

@function pow($number, $exponent) {
    $value: 1;

    @if $exponent >0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }

    @return $value;
}

@for $i from 1 through 5 {
    h#{$i} {
        font-family: var(--font-display);
        color: #333;

        $factor: pow($heading-scale, 5 - $i);
        font-size: $base-font-size * $factor;
        font-weight: 600;
        line-height: 1;

        position: relative;

        @include media-screen-mobile() {
            $factor: pow($heading-scale-mobile, 5 - $i);
            font-size: $base-font-size-mobile * $factor;
        }

        &:not(:first-child) {
            margin-top: 1rem * $factor;
        }

        & + * {
            margin-top: 0.4rem * $factor;
        }
    }
}

// Block & Inline Elements

h1 {
    text-align: center;

    $factor: pow($heading-scale, 5 - 1);
    margin-bottom: 0.25rem * $factor;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

p {
    line-height: 2;
}

p + p {
    margin-top: 0.5rem;
}

p.card {
    margin: 1rem 0;
}

blockquote {
    border-left: 6px solid #bfa0ff;
    background: #f6f2ff;
    color: #311764;
    padding: 1rem 0.5rem;
    margin: 1rem 0;
}

iframe {
    display: block;

    width: 40rem;
    aspect-ratio: 16 / 9;
    max-width: 100%;
}

iframe.video {
    margin: 1.5rem auto;
    // border-radius: 0.5rem;
    box-shadow: 0 0 16px #00000040;

    @include media-screen-mobile() {
        margin: 1rem auto;
        // border-radius: 0;
        box-shadow: none;
    }
}

hr {
    display: block;
    border: none;
    background: #e0e0e0;

    width: calc(100% - 2rem);
    height: 1px;

    margin: 2rem 1rem;
}

pre {
    background: #f8f8f6 !important;
    // border-radius: 0.5rem;

    padding: 1rem !important;
    margin: 1rem auto;

    width: fit-content;
    max-width: 100%;

    line-height: 1.35;

    @include media-screen-mobile() {
        max-width: 100%;
        font-size: 14px;
    }
}

p > code {
    background: #f2f2f2;
    padding: 2px 4px;
    // border-radius: 6px;
}

pre code {
    background: none;
}

pre,
code {
    font-family: 'Source Code Pro', monospace;

    tab-size: 4;
}

// Inline Math
span:not(.katex-display) > span.katex {
    font-size: 125%;
}

// Display Math
span > span.katex-display {
    font-size: 110%;
    max-width: 100%;
    overflow-x: auto;
    margin: 0;
    padding: 1rem 0;
}

ul,
ol {
    display: block;
    list-style-type: disc;
    padding-inline-start: 1.5rem;

    line-height: 2;

    li {
        margin: 0.5rem 0;
    }
}

a,
a:visited {
    color: #6635ca;
    text-decoration: underline solid 3px transparent;

    text-decoration-color: transparent;
    -webkit-text-decoration-color: transparent;

    transition: text-decoration 150ms ease-in-out;

    word-wrap: break-word;
}

p {
    a,
    a:visited {
        font-weight: 600;

        &:hover {
            text-decoration-color: #a081de;
        }
    }
}

//
// Modifiers
//

// .device-desktop,
// .device-tablet,
// .device-mobile {
//     display: none !important;
// }

// @media screen and (min-width: $device-large) {
//     .device-desktop {
//         display: unset !important;
//     }
// }

// @media screen and (min-width: $device-small) and (max-width: $device-large) {
//     .device-tablet {
//         display: unset !important;
//     }
// }

// @media screen and (max-width: $device-small) {
//     .device-mobile {
//         display: unset !important;
//     }
// }

p.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p.short {
    max-width: 80ch;
}

.serif {
    font-family: var(--font-display);
    font-size: 20px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

//
// Components
//

.tags-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 75%;

    gap: 0.5rem;

    a.tag {
        background: #ddd;
        color: #555;
        font-size: 18px;

        padding: 0.25rem 0.75rem;

        transform: none;

        user-select: none;

        // border-radius: 4px;

        &:hover {
            background: #ccc;
        }
    }
}

.art-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 0;

    gap: 3rem;

    @include media-screen-desktop() {
        width: 100%;
    }

    .art-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        &:nth-child(2n + 1) {
            flex-direction: row-reverse;
        }

        @include media-screen-mobile() {
            flex-direction: column !important;
            width: 100%;

            gap: 0.5rem;
        }

        img {
            max-height: 30vh;

            box-shadow: 0 0 16px #00000040;

            // border-radius: 4px;
            background: var(--card-bg);
            border-radius: 2px;
            border: var(--border);
            padding: 3px;
            transition: transform 150ms ease-in-out;

            &:hover {
                transform: scale(1.025);
            }

            @include media-screen-mobile() {
                max-height: unset;
                width: 100%;
            }
        }

        .caption {
            color: #444;
            font-size: 18px;
            line-height: 1.5;

            .date {
                font-family: var(--font-display);

                color: #555;

                font-size: 28px;
                font-weight: 600;

                line-height: 1.5;
            }
        }
    }
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    width: 100%;

    gap: 1rem;

    img {
        max-width: 100%;
        max-height: 30vh;

        place-self: center;

        box-shadow: 0 0 16px #00000040;

        // border-radius: 4px;

        background: var(--card-bg);
        border-radius: 2px;
        border: var(--border);
        padding: 3px;

        transition: transform 150ms ease-in-out;

        &:hover {
            transform: scale(1.25);
        }

        @include media-screen-mobile() {
            max-height: unset;
            width: 100%;
        }
    }

    @include media-screen-mobile() {
        grid-template-columns: 1fr;

        img {
            &:hover {
                transform: scale(1.025);
            }
        }
    }
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4rem;
    padding: 4rem 0;

    width: 100%;

    @include media-screen-mobile() {
        flex-direction: column;

        gap: 2rem;
        padding: 3.25rem 0 2rem;
    }

    .profile {
        border-radius: 100%;

        background: var(--card-bg);
        // border-radius: 2px;
        border: var(--border);
        padding: 3px;

        width: 12rem;

        box-shadow: 0 0 16px #00000040;
    }

    .large {
        font-size: 18px;
        line-height: 1.75;
    }
}

.label {
    // padding: 1rem 0;
    color: #555;
    font-size: 28px;
    font-weight: 600;

    display: flex;

    @include media-screen-mobile() {
        // padding: 0.5rem 0;
        font-size: 24px;
    }
}

section {
    grid-column: span 2;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 1rem;

    width: 100%;

    & > .left {
        align-self: start;
    }
}

.article-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(auto, 21rem));

    // place-content: center;
    // place-items: center;

    display: flex;
    flex-wrap: wrap;

    width: 100%;

    gap: 1rem;
}

.article-card {
    @extend .card;
    // border-radius: 8px;

    background: #fff;

    max-width: 25rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    user-select: none;

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;

        a.tag {
            background: #ddd;
            color: #555;
            font-size: 14px;

            padding: 2px 0;

            transform: none;

            user-select: none;

            padding: 0.125rem 0.35rem;

            // border-radius: 4px;

            &:hover {
                background: #ccc;
            }
        }
    }

    .title {
        font-weight: 600;
        font-size: 28px;
        font-family: var(--font-display);
        line-height: 1;

        a {
            display: inline-block;

            padding: 0.125rem 0.25rem;

            // border-radius: 4px;

            &:hover {
                background: #a081de;
                color: #fff;
            }
        }
    }

    .date {
        font-size: 15px;
        color: #666;
        letter-spacing: 0.5px;
    }

    .description {
        font-size: 16px;
        line-height: 1.625;

        flex-grow: 1;

        & + .description {
            padding-top: 0.5rem;

            border-top: 1px solid #ddd;
        }
    }

    @include media-screen-mobile() {
        max-width: none;
    }
}

//
// Structure
//

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;

    @include media-screen-tablet() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include media-screen-mobile() {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 0;
    }

    nav {
        width: 100%;
        max-width: $article-width + $aside-width + 8rem;

        display: flex;
        justify-content: space-between;

        background: var(--card-bg);

        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;

        border-left: var(--border);
        border-right: var(--border);
        border-bottom: var(--border);

        box-shadow: var(--card-shadow);

        padding: 0.5rem 1rem 0.5rem 0.5rem;

        @include media-screen-tablet() {
            max-width: $article-width + 4rem;
        }

        @include media-screen-mobile() {
            // border-radius: 0;
            padding-left: 0.75rem;
            padding-right: 1.5rem;

            // box-shadow: 0 0 6px 0 #00000050, 0 0 16px 0 #00000018;

            border-left: none;
            border-right: none;
            box-shadow: var(--card-shadow);

            z-index: 10;

            &:not(.sidebar-open) .nav-group {
                left: -125%;
            }
        }

        .nav-item,
        .nav-group {
            display: flex;
            align-items: center;
        }

        .nav-item {
            & > a {
                padding: 0.25rem 0.5rem;
                font-weight: 500;
                font-size: 110%;

                // border-radius: 4px;

                &:hover {
                    background: #a081de;
                    color: #fff;
                }

                &.homepage {
                    font-size: 175%;
                }
            }
        }

        .rule {
            height: 100%;
            width: 3px;
            background: var(--border-color);

            @include media-screen-mobile() {
                width: calc(100% - 3rem);
                height: 2px;
            }
        }

        .nav-group {
            gap: 0.75rem;

            @include media-screen-mobile() {
                position: fixed;
                z-index: 1;

                transition: all 250ms ease-in-out;

                left: 0;
                top: 0;
                width: 75vw;
                height: 100%;

                display: flex;
                flex-direction: column;

                gap: 0;

                background: #f0f0f0;
                box-shadow: var(--card-shadow);
            }

            .sidebar-close {
                display: none;

                @include media-screen-mobile() {
                    display: grid;
                    place-content: center;

                    position: absolute;

                    width: 2.5rem;
                    height: 2.5rem;

                    right: 0;
                    bottom: 0;
                }
            }
        }

        .sidebar-menu {
            display: none;

            @include media-screen-mobile() {
                display: grid;
                place-content: center;
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: $article-width $aside-width;
        grid-template-areas: 'article aside';

        align-items: start;
        gap: 3rem;

        flex-grow: 1;

        & > .article-card:first-child {
            display: none;
        }

        @include media-screen-tablet() {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;
            max-width: $article-width;

            & > .article-card:first-child {
                display: inherit;
            }
        }

        @include media-screen-mobile() {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 0;

            & > .article-card {
                z-index: 1;
                // border-radius: 0;
                box-shadow: none;

                .title {
                    padding-top: 0.5rem;
                    font-size: 3rem;
                }

                :last-child {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #ddd;
                }
            }

            & > .article-card:first-child {
                display: inherit;

                width: 100%;
                max-width: unset;
            }

            & > section {
                padding: 2rem 1rem 0;
            }

            .page {
                padding: 1rem;
            }
        }

        article {
            grid-area: article;

            width: 100%;

            margin: 0 auto;
            padding: 4rem 4rem;

            // text-align: justify;

            // border-radius: 8px;
            background: var(--card-bg);
            border-radius: 2px;
            border: var(--border);
            box-shadow: var(--card-shadow);

            h1:first-child {
                margin-bottom: 2rem;
            }

            // Thumbnail image
            h1 + img,
            h1 + * img {
                margin-left: auto;
                margin-right: auto;
                max-width: calc(100% - 2rem);
                max-height: 40vh;
            }

            img {
                display: block;
                max-width: 100%;
            }

            .frame {
                margin: 1rem;
                padding: 1rem;

                border: 2px solid #d0d0d0;
            }

            p:has(> img) {
                padding: 0;
            }

            @include media-screen-tablet() {
                max-width: $article-width;

                padding: 4rem;

                h1:first-child {
                    display: none;
                }

                p:first-of-type {
                    margin-top: 0;
                }
            }

            @include media-screen-mobile() {
                padding: 0 0 1rem;

                width: 100%;

                background: #fff;
                box-shadow: var(--card-shadow);

                // border-radius: 0;

                h1:first-child {
                    display: none;
                }

                p:first-of-type {
                    margin-top: 0;
                }

                & p,
                & h2,
                & h3,
                & h4,
                & h5 {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                ul,
                ol {
                    padding-left: 2rem;

                    & > li > p {
                        padding-left: 0;
                    }
                }
            }
        }

        aside {
            grid-area: aside;

            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .label {
                padding-left: 4px;
                font-size: 20px;

                font-weight: 600;
                color: #555;
            }

            & > .label:first-child {
                display: none;
            }

            @include media-screen-desktop() {
                & > .self {
                    .date {
                        font-size: 16px;
                    }

                    .description {
                        font-size: 16px;
                    }

                    .tags {
                        gap: 0.5rem;

                        .tag {
                            font-size: 14px;
                        }
                    }
                }
            }

            @include media-screen-tablet() {
                & > .self {
                    display: none;
                }
            }

            @include media-screen-mobile() {
                align-items: center;

                width: 100%;
                max-width: 35rem;
                gap: 1rem;

                padding: 1rem 1rem 0;

                & > .label:first-child {
                    display: inherit;
                }

                & > .self {
                    display: none;
                }
            }
        }
    }

    footer {
        width: 100%;
        display: grid;
        place-content: center;

        margin-top: 4rem;
        height: 4rem;
        border-top: var(--border);

        background: #e4e4ff;

        font-weight: 600;
        color: #666;

        flex-shrink: 0;
    }
}

//
// Temporary
//

.counter {
    margin: 1rem auto;

    display: flex;
    gap: 1rem;

    justify-content: center;

    button {
        padding: 0 0.5rem;
    }
}

//
// In attesa che "initial-letter: <number>" funzioni veramente ovunque
//

// firefox
body main article > p:first-of-type:first-letter {
    margin: 0.625rem 0.75rem 0 0;
    font-size: 3.5rem;
    float: left;
    font-family: var(--font-display);
}

// mobile
@media screen and (pointer: coarse) {
    body main article > p:first-of-type:first-letter {
        margin: 0.625rem 0.75rem 0 0;
        font-size: 3.5rem;
        line-height: 3rem;
        float: left;
        font-family: var(--font-display);
    }
}

@supports not (-moz-appearance: none) {
    // chrome desktop
    @media screen and (pointer: fine) {
        body main article > p:first-of-type:first-letter {
            // margin: 0.25rem 0.25rem 0 0;
            margin: 0 0.25rem 0 0;
            // font-size: 3.5rem;
            font-size: 3rem;
            line-height: 3rem;
            float: none;
            font-family: var(--font-display);
        }
    }
}
