---
import _ from "lodash";

import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
	const artworks = await Astro.glob("/public/data/art/*");

	return artworks.map(({ default: url }) => {
		const name = url.substring(url.lastIndexOf("/") + 1);
		console.log(url, name);

		return { params: { name }, props: { url } };
	});
}

const { name } = Astro.params;
const { url } = Astro.props;
---

<BaseLayout title={`"${name}" | Art | aziis98.com`}>
	<div class="page">
		<h1>{name}</h1>
		<p>
			Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Assumenda
			nam quisquam nostrum modi veritatis ab repudiandae sequi
			exercitationem debitis voluptate iure distinctio inventore hic
			repellendus aperiam fugiat quo amet, maxime?
		</p>
	</div>
</BaseLayout>
