---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Art | aziis98.com">
    <div class="page">
        <div class="principal">
            <div class="content">
                <h1>Art</h1>
                <p class="center">
                    Cose artistiche che faccio in alcuni momenti in cui voglio spasticare. La maggior parte sono di
                    <a href="https://en.wikipedia.org/wiki/Generative_art">arte generativa</a>: alcuni realizzati solo con programmi di grafica, altri
                    parzialmente realizzati da programmi scritti a mano che generavano un'immagine che poi veniva ritoccata.
                </p>
                <!-- <p class="center serif">
                    Le più recenti sono esperimenti a caso con i modelli di ML usciti di recente, in particolare
                    <strong>tutte quelle fatte con AI sono indicate</strong>. Anche per evitare si pensi che anche i miei lavori vecchi siano stati
                    fatti da AI, quelli sono arte generativa &ldquo;vecchio stile&rdquo; (mai avrei pensato di dire questa cosa)
                </p> -->
            </div>
        </div>
        <div class="art-list">
            <div class="art-item">
                <img src="/data/art/webp/2020_sky-4-2-1@w1920.webp" alt="fluid, vortices, sky, stars, purple" />
                <div class="caption">
                    <div class="date">2020</div>
                    <p>
                        In questo avevo provato oltre ad aggiungere la turbolenza anche a mettere un po' di rumore prima ed alla fine ha aggiunto
                        questo effetto molto simile a delle stelle.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2019_purple_swirl@w1920.webp" alt="purple, swirl, pygame, 90-degree turns" />
                <div class="caption">
                    <div class="date">2019</div>
                    <p>
                        Dalla serie di cose fatte con <code>pygame</code>, questo invece è viola ed il punto di partenza è una sola linea orizzontale
                        da cui l'algoritmo fa crescere i vari <em>swirl</em>.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_triangles_ii___purple@w1920.webp" alt="triangles, purple, blender" />
                <div class="caption">
                    <div class="date">2017</div>
                    <p>Dalla serie di cose triangolose, questo è fatto in un modo troppo complicato con Blender.</p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_triangles_i___red@w1920.webp" alt="triangles, red, blender" />
                <div class="caption">
                    <div class="date">2017</div>
                    <p>Dalla serie di cose triangolose, questo è fatto in un modo troppo complicato con Blender.</p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_swirl_ii___magenta@w1920.webp" alt="purple, swirl, magenta, pygame, 90-degree turns" />
                <div class="caption">
                    <div class="date">2017</div>
                    <p>
                        Dalla serie di cose fatte con <code>pygame</code>, questo è rossiccio ed ha come linea di partenza una spezzata
                        tendenzialmente orizzontale da cui l'algoritmo fa crescere i vari <em>swirl</em>.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_swirl_i___blue@w1920.webp" alt="blue, swirl, magenta, pygame, 90-degree turns" />
                <div class="caption">
                    <div class="date">2017</div>
                    <p>
                        Dalla serie di cose fatte con <code>pygame</code>, questo è blue ed ha come linea di partenza una spezzata tendenzialmente
                        orizzontale da cui l'algoritmo fa crescere i vari <em>swirl</em>.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_12_25532199@w1920.webp" alt="???" />
                <div class="caption">
                    <div class="date">2017/12</div>
                    <p>
                        Dalla serie di cose fatte con <code>pygame</code>, questo è blue ed ha come linea di partenza una spezzata tendenzialmente
                        orizzontale da cui l'algoritmo fa crescere i vari <em>swirl</em>.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_06_18891671@w1920.webp" alt="???" />
                <div class="caption">
                    <div class="date">2017/06</div>
                    <p>
                        Dalla serie di cose fatte con <code>pygame</code>, questo è blu/viola e basato su delle linee generate casualmente che vengono
                        man mano sovrapposte alle precedenti.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_red_yellow_fluid_horizontal@w1920.webp" alt="liquid, red, yellow, vortices, turbulence" />
                <div class="caption">
                    <div class="date">Pre-2017</div>
                    <p>
                        Questo usa la tecnica della turbolenza partendo da una base rossa e gialla, mi pare di averlo fatto con Paint.NET e qualche
                        plugin.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_light_blue_fluid_central@w1920.webp" alt="liquid, blue, vortices, turbulence" />
                <div class="caption">
                    <div class="date">Pre-2017</div>
                    <p>
                        In questo invece ho tentato di partire da una base quadratosa ma senza troppo successo, però boh alla fine non è male
                        l'effetto.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_first_horizontal_fluid@w1920.webp" alt="liquid, blue, vortices, turbulence, all colors" />
                <div class="caption">
                    <div class="date">Pre-2017</div>
                    <p>
                        Questo è uno dei primissimi lavori che ho fatto ed anche uno dei miei preferiti. La base è sempre la stessa, turbonenza su una
                        base di linee colorate.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_14481925@w1920.webp" alt="liquid, vortices, turbulence, red, yellow" />
                <div class="caption">
                    <div class="date">Pre-2017</div>
                    <p>
                        Questo usa la tecnica della turbolenza partendo da una base rossa e gialla, mi pare di averlo fatto con Paint.NET e qualche
                        plugin.
                    </p>
                </div>
            </div>
            <div class="art-item">
                <img src="/data/art/webp/2017_13047706@w1920.webp" alt="liquid, vortices, turbulence, red, yellow" />
                <div class="caption">
                    <div class="date">Pre-2017</div>
                    <p>
                        Questo usa la tecnica della turbolenza partendo da una base rossa e gialla, mi pare di averlo fatto con Paint.NET e qualche
                        plugin.
                    </p>
                </div>
            </div>
            <p class="serif">
                TODO: Altri vecchi lavori devo ancora aggiungerli
            </p>
            <!-- <div class="art-item">
                <a href="">
                    <img
                        src="/data"
                        alt="???"
                    />
                </a>
                <div class="caption">
                    <div class="date">????</div>
                    <p>
                        ???
                    </p>
                </div>
            </div> -->
        </div>
    </div>
</BaseLayout>
