---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="aziis98.com">
    <div class="page">
        <h1>Pagina non trovata!</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum magnam soluta beatae praesentium facere dolorem quidem animi. Officiis libero, quo reprehenderit voluptatem consequatur sed, culpa itaque aspernatur saepe, dolores esse?</p>
    </div>
</BaseLayout>
