---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Content } from "../content/about.md";
---

<BaseLayout title="aziis98.com">
    <section>
        <div class="principal">
            <div class="content">
                <Content />
            </div>
        </div>
    </section>
</BaseLayout>
