---
import '@fontsource/eb-garamond/latin.css'
import '@fontsource/open-sans/latin.css'
import '../styles/main.scss'
---

<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="{Astro.generator}" />
        <title>Astro</title>
    </head>
    <body>
        <article>
            <h1>Astro</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nulla, reiciendis ipsam unde minima voluptatem nobis pariatur accusantium officia consequatur cum a distinctio aliquid exercitationem dolorem rerum modi animi perspiciatis fugit quos explicabo error velit, accusamus. Optio placeat totam corrupti.</p>
            <p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Rem, fugiat quasi atque suscipit repellat vero minus maiores sunt, veritatis quae. Ex, aperiam? Vero, omnis. Beatae tenetur, laudantium, quos nihil incidunt necessitatibus maiores, libero dolorem soluta modi sapiente unde. Odio, ipsa aspernatur excepturi nisi accusantium nulla pariatur cum quaerat, facilis quo asperiores maiores ea, natus et blanditiis quod minus, ad recusandae.</p>
            <h2>Subtitle</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, earum! Maxime nobis, iste, repellendus perspiciatis nostrum enim optio iure veniam beatae, consequuntur quaerat ratione error! Consequatur voluptatibus temporibus cum, deserunt libero repellendus voluptates corporis sint quae neque repellat fugit ipsa!</p>
            <p>Iste, hic. Soluta vero assumenda alias delectus, reprehenderit aut odio voluptates quo. Rem ad, laudantium consequatur architecto molestias aliquid, cum deserunt sunt quidem totam expedita temporibus debitis tempora neque recusandae nostrum eius quasi eligendi aperiam? Qui debitis voluptatum quis, ducimus!</p>
            <h3>Subtitle</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repudiandae suscipit deserunt exercitationem et omnis totam inventore iure nemo recusandae iste eius eum nisi, vitae temporibus eligendi fugit quo unde tenetur rerum voluptas tempore veritatis repellendus, sunt. Corporis harum itaque illum enim, quas. Quam, sapiente, ducimus! Cumque necessitatibus quidem sunt.</p>
            <h4>Subtitle</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum odio tempore error, officiis quaerat laborum ducimus quod a iusto sit libero eos, soluta maiores qui dolorum repudiandae. Labore sapiente, saepe corporis eos, fuga sequi ad quisquam! Dolor cumque laborum, porro.</p>
            <p>Sunt quasi voluptatem consectetur dolorum temporibus eligendi. Odio, labore esse. Quibusdam ab quisquam, odio a perspiciatis molestias autem expedita doloribus quis fugit qui voluptate? Beatae autem similique ratione, sit, quaerat quae hic nulla maiores ad, repellat sint quia molestiae natus.</p>
            <h2>Subtitle</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, earum! Maxime nobis, iste, repellendus perspiciatis nostrum enim optio iure veniam beatae, consequuntur quaerat ratione error! Consequatur voluptatibus temporibus cum, deserunt libero repellendus voluptates corporis sint quae neque repellat fugit ipsa!</p>
            <p>Iste, hic. Soluta vero assumenda alias delectus, reprehenderit aut odio voluptates quo. Rem ad, laudantium consequatur architecto molestias aliquid, cum deserunt sunt quidem totam expedita temporibus debitis tempora neque recusandae nostrum eius quasi eligendi aperiam? Qui debitis voluptatum quis, ducimus!</p>
            <h3>Subtitle</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repudiandae suscipit deserunt exercitationem et omnis totam inventore iure nemo recusandae iste eius eum nisi, vitae temporibus eligendi fugit quo unde tenetur rerum voluptas tempore veritatis repellendus, sunt. Corporis harum itaque illum enim, quas. Quam, sapiente, ducimus! Cumque necessitatibus quidem sunt.</p>
            <h4>Subtitle</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum odio tempore error, officiis quaerat laborum ducimus quod a iusto sit libero eos, soluta maiores qui dolorum repudiandae. Labore sapiente, saepe corporis eos, fuga sequi ad quisquam! Dolor cumque laborum, porro.</p>
            <p>Sunt quasi voluptatem consectetur dolorum temporibus eligendi. Odio, labore esse. Quibusdam ab quisquam, odio a perspiciatis molestias autem expedita doloribus quis fugit qui voluptate? Beatae autem similique ratione, sit, quaerat quae hic nulla maiores ad, repellat sint quia molestiae natus.</p>
            <h2>Subtitle</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, earum! Maxime nobis, iste, repellendus perspiciatis nostrum enim optio iure veniam beatae, consequuntur quaerat ratione error! Consequatur voluptatibus temporibus cum, deserunt libero repellendus voluptates corporis sint quae neque repellat fugit ipsa!</p>
            <p>Iste, hic. Soluta vero assumenda alias delectus, reprehenderit aut odio voluptates quo. Rem ad, laudantium consequatur architecto molestias aliquid, cum deserunt sunt quidem totam expedita temporibus debitis tempora neque recusandae nostrum eius quasi eligendi aperiam? Qui debitis voluptatum quis, ducimus!</p>
            <h3>Subtitle</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repudiandae suscipit deserunt exercitationem et omnis totam inventore iure nemo recusandae iste eius eum nisi, vitae temporibus eligendi fugit quo unde tenetur rerum voluptas tempore veritatis repellendus, sunt. Corporis harum itaque illum enim, quas. Quam, sapiente, ducimus! Cumque necessitatibus quidem sunt.</p>
            <h4>Subtitle</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum odio tempore error, officiis quaerat laborum ducimus quod a iusto sit libero eos, soluta maiores qui dolorum repudiandae. Labore sapiente, saepe corporis eos, fuga sequi ad quisquam! Dolor cumque laborum, porro.</p>
            <p>Sunt quasi voluptatem consectetur dolorum temporibus eligendi. Odio, labore esse. Quibusdam ab quisquam, odio a perspiciatis molestias autem expedita doloribus quis fugit qui voluptate? Beatae autem similique ratione, sit, quaerat quae hic nulla maiores ad, repellat sint quia molestiae natus.</p>
            <h2>Subtitle</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, earum! Maxime nobis, iste, repellendus perspiciatis nostrum enim optio iure veniam beatae, consequuntur quaerat ratione error! Consequatur voluptatibus temporibus cum, deserunt libero repellendus voluptates corporis sint quae neque repellat fugit ipsa!</p>
            <p>Iste, hic. Soluta vero assumenda alias delectus, reprehenderit aut odio voluptates quo. Rem ad, laudantium consequatur architecto molestias aliquid, cum deserunt sunt quidem totam expedita temporibus debitis tempora neque recusandae nostrum eius quasi eligendi aperiam? Qui debitis voluptatum quis, ducimus!</p>
            <h3>Subtitle</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repudiandae suscipit deserunt exercitationem et omnis totam inventore iure nemo recusandae iste eius eum nisi, vitae temporibus eligendi fugit quo unde tenetur rerum voluptas tempore veritatis repellendus, sunt. Corporis harum itaque illum enim, quas. Quam, sapiente, ducimus! Cumque necessitatibus quidem sunt.</p>
            <h4>Subtitle</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum odio tempore error, officiis quaerat laborum ducimus quod a iusto sit libero eos, soluta maiores qui dolorum repudiandae. Labore sapiente, saepe corporis eos, fuga sequi ad quisquam! Dolor cumque laborum, porro.</p>
            <p>Sunt quasi voluptatem consectetur dolorum temporibus eligendi. Odio, labore esse. Quibusdam ab quisquam, odio a perspiciatis molestias autem expedita doloribus quis fugit qui voluptate? Beatae autem similique ratione, sit, quaerat quae hic nulla maiores ad, repellat sint quia molestiae natus.</p>
        </article>
    </body>
</html>
