---
import { websiteName } from "../utils";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter: {title, description} } = Astro.props;
---

<BaseLayout title={title + " | " + websiteName()} {description}>
	<section>
        <div class="principal">
            <div class="content">
                <slot />
            </div>
        </div>
    </section>
</BaseLayout>
